/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}
/* line 8, ../_sass/_post.scss */
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

/* line 25, ../_sass/_post.scss */
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 28, ../_sass/_post.scss */
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}


/*
math, .MathJax {
    background-color: "#FFFF88",
    color:   "#CC0000",
    border:  "1px solid #CC0000",
    padding: "1px 3px",
    font-style: "normal",
    font-size:  "90%"

}

math,.MathJax_SVG svg > g, 
.MathJax_SVG_Display svg > g { 
  fill: #333; 
  stroke: #333 
}*/



/* main content */
div.content.b {
  background:white;
  padding:70px 60px;
  margin-bottom:60px;
}
div.content.full-bleed {
  padding:0;
}
div.content.b.photo {
  padding: 0;
  margin:0;
}
  div.content.b:not(.sub) h1:first-child {
    margin-top:0; font-size:300%;
  }
  
  div.content.b img, div.content.b iframe { display:block; max-width:100%; margin:1em 0; }
  div.content.b iframe { border:none; }
  div.content.b *[align=right] { margin:0 0 1em 1em; }
  div.content.b *[align=left] { margin:0 1em 1em 0; }

  /*div.post strong { font-weight:inherit; background:#FBF4B1; }*/
  div.content.b li { margin-left: 2em; margin-bottom:0.3em; }
  div.content.b ul > li { margin-left:1.4em; }
  
  div.content.b blockquote {
  /*  font-family: 'Poly', georgia;
    font-style:italic;*/
    line-height:1.618;
    background:transparent url(quotation-mark.png) no-repeat scroll 25px 1.4em;
    padding:0.1em 1em 0.1em 60px;
    margin:1.618em 0 1.618em -60px;
    color: #666055;
    text-rendering: optimizelegibility;
  }
  div.content.b div.quotation blockquote { margin-left:-30px; }
  div.content.b pre {
    line-height:1.3;
    background-color:transparent;
    overflow-x: auto;

    background-color:#f2f2f2;
    border-radius: 5px;
    padding:0.6em 20px 0.6em 10px;

    /*display: -webkit-flex; display: flex;
    -webkit-flex-direction: row; flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;*/
  }
  div.content.b code {
    background-color: #f6f9fa;
    color:black;
    /*border: 1px solid #eaeaea;*/
    border-radius: 3px;
    padding:0 0.3em;
  }
  div.content.b pre > code {
    padding:0;
    background-color:transparent;
    border-radius: none;
    /*border:none;*/

    /*background-color:#f2f2f2;
    border-radius: 5px;
    padding:0.6em 20px 0.6em 10px;*/

    /*border-top: 1px solid #f0f2f4;
    border-bottom: 1px solid #f0f2f4;*/
    /*margin-left:-10px;*/
  }
  div.content.b *:target { background:#fe0; }
  div.content.b sup:target a { padding:2px 5px; }
  div.content.b div.footnotes li { color:#999; }
  div.content.b div.footnotes li:target { background:#ffc; color:inherit; }
  
  /* wide objects */
  /* this is b0rked */
  /*div.content.b *[alt~="fullbleed"] {
    position: relative;
    left:-11%; right:-20%;
  }
  div.content.b *[alt~="large"] {
    max-width:1024px;
    margin-left:-180px;
  }*/

/*div.content.b { border-bottom:2px solid #D1D1D1; }*/

div.content.b.sub {
  margin-top:-50px;
  padding-top:20px;
}

/* --------------------------------------------------------------------------------------------- */
/* intro on first page */

div.content.b.intro {
  padding: 40px;
}

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.posts div.end {
  padding:40px;
  text-align:center;
}

/* --------------------------------------------------------------------------------------------- */
/* post excerpt */
/* Wrapped in a div.content.full-bleed */

a.post-excerpt {
  display: block;
  color: inherit;
  border-bottom: 4px solid #ddd;
}
  a.post-excerpt div.padded-content {
    display: block;
    padding: 40px;
  }
  a.post-excerpt div.grid-mask { display:none; }
  a.post-excerpt.photo {
    height:320px;
  }
    /*a.post-excerpt.photo div.padded-content {
      display: -webkit-box; display: -moz-box; display: box;
      -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical;
      -webkit-box-pack: end; -moz-box-pack: end; box-pack: end;
    }*/
    a.post-excerpt.photo div.title {
      padding:10px 10px;
      font-size: 120%;
      font-weight: 100;
      color: #201F1D;
      /*background:rgba(255,200,0,0.1);*/
      -webkit-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      -moz-text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      position: absolute;
      left:0; right:0; bottom:0;
      z-index:2;
    }
    a.post-excerpt.photo div.padded-content {
      padding:0;
      width:100%;
      height:100%;
      background: transparent no-repeat center center scroll;
      position: relative;
    }
    a.post-excerpt.photo div.padded-content div.image {
      position: absolute;
      left:0; top:0; right:0; bottom:0;
      z-index:1;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    a.post-excerpt.photo:hover div.padded-content {
      opacity: 1;
    }
    a.post-excerpt.photo:hover div.padded-content div.image {
      opacity:0.5;
    }

  @media screen and (min-width: 680px) {
    a.post-excerpt {
      position:relative;
      display: block;
      width:49%; /* 680/2 */
      /*height:180px;*/
      overflow-y: hidden;
      float:left;
      border:none;
      margin-bottom:400px;
      background:#ADD8E6;
      /*-webkit-transform: translate3d(0,100px,0);*/

    }
    a.post-excerpt.photo {
      height:340px;
    }
      a.post-excerpt.photo div.padded-content {
        padding:0;
        width:100%;
        height:100%;
        background: transparent no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      a.post-excerpt.photo:hover div.padded-content {
        opacity:0.9;
      }
  } /* END @media screen and (min-width: 680px) */
  
  /*@media screen and (min-width: 480px) {
    a.post-excerpt {
      width:50%;
    }
  }*/

  a.post-excerpt:hover {
    color:white;
    background:#226666;
    text-decoration:none;
  }

  a.post-excerpt div.title {
    font-weight: bold;
  }

  a.post-excerpt info {
    display:inline-block;
    padding-right:8px;
    color:#999;
    font-style:italic;
    /*margin-bottom:3em;*/
  }

/* --------------------------------------------------------------------------------------------- */
/* photo post */

div.content.b.photo-post {
  padding-top: 60px;
}
  div.content.b.photo-post p:first-child, div.content.b.photo-post img:first-child {
    padding-top:0;
    margin-top:0;
  }
  div.content.b.photo-post p, div.content.b.photo-post iframe {
    padding: 40px 0 0 0;
    margin:0;
  }
/*div.content.b.photo-post {
  padding: 0 0 30px 0;
  margin:0 0 70px 0;
}
  div.content.b.photo-post p, div.content.b.photo-post iframe {
    padding: 40px 40px 0 40px;
    margin:0;
  }
  div.content.b.photo-post img {
    display:block;
    padding:0 0 10px 0;
    margin:0;
  }
  div.content.b.photo-post p.datetime {
    color:#ccc;
  }*/

/* --------------------------------------------------------------------------------------------- */
/* posts */

div.post {
  padding-bottom: 0em;
  /*margin-bottom:-70px;*/
  page-break-before: always;
}
  div.post.single, div.post:last-child { border-bottom:none; }
  /*div.post h1:first-child, div.post h2:first-child { margin-top:0; }
  div.post h2.title, div.post h1:first-child { font-size:42px; }*/
  /*div.post h1 { margin-top: 1.618em; }*/
  
  div.post actions, div.post info {
    color: #ccc;
  }
  
  div.post actions {
    display:inline-block;
    float:right;
  }
  
  div.post info {
    display:inline-block;
    /*xbackground:#DDF5EB;
    xborder-left:2px solid rgba(0,0,0,0.2);*/
    border:1px solid rgba(0,0,0,0.05);
    border-left:none; border-right:none;
    padding:8px 0px 8px 60px;
    margin-left:-60px;
    margin-bottom:3em;
  }
  div.post.photo info {
    margin:0;
    padding:0;
    border:0;
    display:block;
  }
  
  div.post info.after {
    margin-top:30px;
    margin-right:-60px;
    margin-bottom:0;
    padding-top:25px;
    padding-right:60px;
    padding-bottom:25px;
    opacity:0.6;
    border-color:rgba(0,0,0,0.08);
    border-bottom:none;
  }
  div.post info.after:hover {
    opacity:1;
  }

  div.post iframe[width="640"] {
    zoom:0.87;
  }

/* --------------------------------------------------------------------------------------------- */
/* google search widget */


#cse-search-field {
  width: 80%;
  float: right;
  font-size: inherit;
  font-family: helvetica, sans-serif;
  padding:.5em 1em;
}
#cse-search-field {
  border:2px solid #ddd;
  border-radius: 90px;
}
#cse-search-field:focus {
  outline:none;
  border-color: #2299ff;
}
html.ios #cse-search-field {
  padding:.5em .5em;
  -webkit-appearance: none;
}
html.ios #cse-search-button {
  display: none;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button 
{
  box-sizing: content-box;
  line-height: normal;
}

.gsc-tabsArea div 
{
  /*By default, Google custom search CSS sets it as AUTO, which shows scroll bars*/
  overflow: visible; 
}




