---
layout: page
title : Archive
header : Post Archive
---

{% include JB/setup %}

<hr>
<section>
   <h1>Posts in Chronological Order</h1>
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
</section>
<br> <br> <br>
<hr>

<section>
   <h1>Complete List of Notebooks</h1>
<ul>
  {% assign pages_list = site.pages %}
  {% assign group = 'notebook' %}
  {% include JB/pages_list %}
</ul>
</section>
<br> <br> <br>
<hr>
<section>
   <h1>List of All Pages</h1>
<ul>
  {% assign pages_list = site.pages %}
  {% include JB/pages_list %}
</ul>
</section>
<hr>
